<%= turbo_stream_from @article %>

<p id="notice"><%= notice %></p>

<%= render @article %>
<%= render "articles/comments", article: @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article), class: "ml-2 rounded-lg py-3 px-5 bg-blue inline-block font-medium" %> |
  <%= link_to "Back to articles", articles_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

  <%= button_to "Destroy this article", article_path(@article), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-500 font-medium" %>
</div>
